body {
  background-color: powderblue;
}
table, th, td {
  border:1px solid red
}
h1 {
  color: violet;
}
p {
  border: 2px solid red;
  color: red
}
h2 {
  background-color: red;
}
h3 {
  color: green;
}
